[user]
	email = 60820321+abellaismail7@users.noreply.github.com
	name = Ismail A Bella
[core]
	editor = nvim
[credential]
	helper = cache --timeout=3600
[init]
	defaultBranch = main
[alias]
	p = push
	cc = commit
	c = checkout
	st = status
	ll = log --oneline
	rv = remote -v
	bv = branch -v
	gl = config --global -l
